services:
  origin:
    build: ./origin
    networks:
      - cdn-net
  router: 
    build: ./router
    ports:
      - "8000:8000"
    depends_on:
      - origin
      - edge-us
      - edge-eu
      - edge-ind
    networks:
      - cdn-net
  # US
  edge-us:
    image: nginx:alpine
    volumes:
      - ./edge/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - cdn-net

  # Europe
  edge-eu:
    image: nginx:alpine
    volumes:
      - ./edge/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - cdn-net

  # India
  edge-ind:
    image: nginx:alpine
    volumes:
      - ./edge/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - cdn-net

networks:
  cdn-net: