version: '3.8'

services:
  origin:
    build: ./origin
    networks:
      - cdn-net

  # India
  edge-us:
    image: nginx:alpine
    volumes:
      - ./edge/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8081:80" 
    cap_add:
      - NET_ADMIN
    networks:
      - cdn-net

  # Europe
  edge-eu:
    image: nginx:alpine
    volumes:
      - ./edge/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8082:80" 
    cap_add:
      - NET_ADMIN
    networks:
      - cdn-net

  # US
  edge-ind:
    image: nginx:alpine
    volumes:
      - ./edge/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8083:80" 
    cap_add:
      - NET_ADMIN
    networks:
      - cdn-net

networks:
  cdn-net: